p {
    padding: 50px 25px;
    width: max-content;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #f7ebfc;
    border-radius: 10px
}