<mat-card class="container">
    <mat-card-content>
        <mat-toolbar class="mat-primary">
            Cursos Disponíveis
            <div slot="end" style="margin-left: auto;">
                <button mat-stroked-button  aria-label="Adicionar curso" (click)="onAdd()">Adicionar
                    <mat-icon slot="start">add</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <div class="loading-spinner" *ngIf="!courses">
            <ngx-ui-loader></ngx-ui-loader>
        </div>
        <div>
            <table mat-table [dataSource]="courses" matSort class="mat-elevation-z8" *ngIf="courses">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
                    <td mat-cell *matCellDef="let course"> {{course.name}} </td>
                </ng-container>
                <!-- Category Column -->
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
                    <td mat-cell *matCellDef="let course"> {{course.category}}
                        <mat-icon aria-hidden="false" aria-label="Categoria do curso">{{ course.categroy | category
                            }}</mat-icon>
                    </td>
                </ng-container>
                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
                    <td mat-cell *matCellDef="let course"> 
                        <button mat-icon-button color="primary" aria-label="Editar curso" (click)="onEdit(course)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" aria-label="Remover curso" (click)="onDelete(course)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <app-message-empty [ngShow]="courses?.length === 0"></app-message-empty>
        </div>

        <ng-template>
            <div>
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>